body {
  margin-top: 1em;
  font-family: Helvetica,Arial,FreeSans;
}

#container {
  margin: 0 auto;
  width: 700px;
}

p {
  margin: 0.3em 0;
}

.download {
  float: right;
  width: 38%;
  text-align: center;
  margin: 0.5em 0 3em 1em;
  padding: 0.8em 0;
  background-color: #eff2f7;
  border: 1px solid #ccd5e4;
  border-radius: 8px;
}

.clone {
  color: #888;
  font-size: 0.7em;
}

h1 {
  font-size: 3em;
  color: #3b5998;
  margin: 0;
}
h1 a {
  text-decoration: none;
  color: #3b5998;
}
.subtitle {
  font-style: italic;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.5em;
  color: #627aad;
  margin: 1em 0 0;
}
h3 {
  font-size: 1.2em;
  margin: 0.5em 0 0.2em;
  color: #627aad;
}
a {
  color: #3b5998;
}
pre {
  background-color: #eff2f7;
  border: 1px solid #ccd5e4;
  color: #333;
  font-size: 0.9em;
  padding: 0.8em 10px;
  margin 0.3em 0;
}
.legal {
  font-size: 0.9em;
  margin-right: 80px;
}
.footer {
  padding-top: 30px;
  font-size: 0.9em;
  font-style: italic;
}
input {
  font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  width: 690px;
}
textarea {
  font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  width: 690px;
  height: 6em;
}