body {
  margin-top: 1em;
  font-family: Helvetica,Arial,FreeSans;
}

#container {
  margin: 0 auto;
  width: 700px;
}

.download { float: right; }

h1 {
  font-size: 3em;
  color: #3b5998;
}
h1 a {
  text-decoration: none;
  color: #3b5998;
}
h2 {
  font-size: 1.5em;
  color: #627aad;
}
a {
  color: #3b5998;
}
pre {
  background: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 0.9em;
  padding: 15px;
}
.legal {
  font-size: 0.9em;
  margin-right: 80px;
}
.footer {
  padding-top:30px;
  font-size: 0.9em;
  font-style: italic;
}
