body {
  margin-top: 1em;
  font-family: Helvetica,Arial,FreeSans;
}

#container {
  margin: 0 auto;
  width: 700px;
}

.download {
  float: right;
  width: 38%;
  text-align: center;
  background-image: url(../images/ground10.gif);
  background-repeat: no-repeat;
  background-position: top left;
  font-size: 0.8em;
  margin-bottom: 3em;
}

.download span {
  background-image: url(../images/ground10.gif);
  background-repeat: no-repeat;
  background-position: top right;
  display: block;
}
.download span span {
  background-image: none;
  padding-top: 1em;
}
.download p {
  margin: 0;
  padding-top: 0.5em;
  background-color: #e7e7e7;
}
.clone {
  color: #888;
  font-size: 0.8em;
  background-image: url(../images/ground10.gif);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.clone span {
  background-position: bottom right;
  padding-bottom: 1em;
}

h1 {
  font-size: 3em;
  color: #3b5998;
}
h1 a {
  text-decoration: none;
  color: #3b5998;
}
h2 {
  font-size: 1.5em;
  color: #627aad;
}
a {
  color: #3b5998;
}
pre {
  background: #eee;
  border: 1px solid #ddd;
  color: #333;
  font-size: 0.9em;
  padding: 15px;
}
.legal {
  font-size: 0.9em;
  margin-right: 80px;
}
.footer {
  padding-top: 30px;
  font-size: 0.9em;
  font-style: italic;
}
input, textarea {
  font: 11px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
