<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.token-field.js" type="text/javascript"></script>
    <link rel="stylesheet" href="stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="stylesheets/token-field.css" type="text/css" media="screen">
  </head>

  <body>
    <a href="http://github.com/sbfaulkner/jquery.token-field"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div id="container">

      <div class="download">
        <a href="http://github.com/sbfaulkner/jquery.token-field/zipball/master">
          <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
        <a href="http://github.com/sbfaulkner/jquery.token-field/tarball/master">
          <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
      </div>

      {{ content }}

      <h2>Download</h2>
      <p>You can download this project in either:
        <a href="http://github.com/sbfaulkner/jquery.token-field/zipball/master">zip</a> or
        <a href="http://github.com/sbfaulkner/jquery.token-field/tarball/master">tar</a> formats.</p>
      <p>You can also clone the project with <a href="http://git-scm.com">Git</a>
        by running:
        <pre>$ git clone git://github.com/sbfaulkner/jquery.token-field</pre>
      </p>

      <div class="footer">
        get the source code on GitHub : <a href="http://github.com/sbfaulkner/jquery.token-field">sbfaulkner/jquery.token-field</a>
      </div>

    </div>
  </body>
</html>
